@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  transition: all 0.2s;
}

/** LAYOUT **/

.container {
  @apply px-4;

  @screen xl {
    /* @apply w-10/12 ml-auto pr-6; */
    @apply pr-6;
    padding-left: 10rem;
  }

  @screen xxl {
    @apply pr-14;
    padding-left: 18.5rem;
  }
}

.wrapper {
  @apply bg-lavender antialiased font-sans leading-normal tracking-normal flex flex-col w-screen min-h-screen text-black;
}

.wysiwyg {
  a {
    @apply text-pink;
  }

  p {
    @apply mb-4;
  }
}

.wysiwyg a:hover {
  @apply text-black;
}

.reveal__container {
  transform: translateY(15%) translateZ(0);
  transition: transform .6s cubic-bezier(.13,.74,.5,.97);
}

.reveal__text {
  display: inline-block;
  opacity: 0;
  transform: translateY(101%) translateZ(0);
  transition: transform .5s cubic-bezier(.13,.74,.5,.97), opacity .2s cubic-bezier(.13,.74,.5,.97);
}

.reveal__container--1 .reveal__text {
  transition-delay: .5s;
}

.reveal__container--2 .reveal__text {
  transition-delay: .6s;
}

.reveal__container--3 .reveal__text {
  transition-delay: .7s;
}

.reveal__container--4 .reveal__text {
  transition-delay: .8s;
}

.reveal__container--5 .reveal__text {
  transition-delay: .9s;
}

.reveal__container--6 .reveal__text {
  transition-delay: 1s;
}

.reveal__container--7 .reveal__text {
  transition-delay: 1.2s;
}

.reveal__container--8 .reveal__text {
  transition-delay: 1.3s;
}

.ready .reveal__text {
  transform: translateZ(0);
  opacity: 1;
}

.responsive-media {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsive-media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity .5s cubic-bezier(.13,.74,.5,.97);
}

.fade-in.show {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s cubic-bezier(.13,.74,.5,.97);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.lazy {
  @apply relative;
  /* background-color: #fff; */

  img {
    backface-visibility: hidden;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.13,.74,.5,.97);
    width: 100%;
  }

  [lazy='loading'] {
    opacity: 0;
  }

  [lazy='loaded'] {
    opacity: 1;
  }
}

.infinite-loading-container {
  min-height: calc(64px * 2 + 40px) !important;
  padding: 64px;
}

.infinite-status-prompt {
  padding: 0 !important;
  position: relative;

  span {
      display: block;
    }
  
    svg {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      margin: auto;
    }
  
    div {
      bottom: -26px;
      font-size: 14px;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

.page-enter-active, .page-leave-active {
  transition: opacity .15s ease-in-out;
}

.page-enter-active, .page-leave-active {
  opacity: 0
}

.hot-images {
  @apply ml-3;

  width: 20rem;

  @screen xl {
    width: 22rem;
  }
}